body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* Keskitetään sisältö */
#vastaus {
  text-align: center;   /* keskittää tekstin ja kuvat vaakasuunnassa */
  margin: 0 auto;       /* varmistaa että elementti itsessään on keskellä */
  max-width: 800px;     /* rajoittaa sisällön leveyttä, ettei veny liian leveäksi */
  padding: 20px;
}
.responsiivinen-kuva {
  max-width: 600px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 6px;
}

h3 {
  color: #0066cc;
}
